.todoSelected {
    font-size: 27px;
    color: #edcfff;
    margin-right: 10px;
    cursor: pointer;
}

.todoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto 0;
    color: #eee;
    background: linear-gradient(90deg,
            #4278ee 0%,
            #86b6f1 100%);

    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.todoRowSelect {
    justify-content: left;
    cursor: pointer;
}

.todoTxt {
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.deleteIcon {
    margin-right: 5px;
    color: #fff;
}

.editIcon {
    color: #fff;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}