.todoForm {
    position: relative;
}

.todoInput {
    margin-bottom: 25px;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #a5c0f1;
    outline: none;
    width: 320px;
    background: transparent;
    color: inherit;
    color: #e2e2e2;
}

.todoInput::placeholder {
    color: #e2e2e2;
}

.todoButton {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to right, #a5c0f1,  #6590eb);;    
    color: #fff;
    text-transform: capitalize;
}

.todoInput.edit {
    border: 2px solid #149fff;
}

.todoButton.edit {
    background: linear-gradient(90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%);
    padding: 16px 22px;
}

.selectOptions {
    color: #c4c4c4;
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectCancel button{
    border: 1px solid #7fb2f0;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 15px;
    margin-left: 45px;
    margin-bottom: 8px;
    cursor: pointer;
    color: inherit;
    transition: .2s;
}

.selectCancel button:hover {
    background-color: #7fb2f0;
    color: #000;
}

.deleteOption {
    margin-left: 19px;
}

.deleteOption,
.completeOption {
    cursor: pointer;
    transition: .2s;
}

.deleteOption:hover {
    color: #fc4f4f;
}

.completeOption:hover {
    color: #00ff00;
}